/* Apply padding to the top of the body element */
body {
    padding-top: 20px;
 }
 
 /* Style for card elements */
 .card {
    margin-bottom: 20px;
 }
 
 /* Media query for screens with maximum width of 768px */
 @media (max-width: 768px) {
   /* Style for the top image of cards within the media query */
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
 }
 